<div style="display: flex; justify-content: center; width: 100%; margin: 2rem 0; gap: 5px;">
    <a href="/" target="_blank">
        <img src="/button.png" width="88" height="31">
    </a>
    <a href="https://linuxmint.com" target="_blank">
        <img src="/linux_mint.gif" width="88" height="31">
    </a>
    <a href="https://helium.computer" target="_blank">
        <img src="/internetprivacy.gif" width="88" height="31">
    </a>
    <a href="https://lucida.to" target="_blank">
        <img src="https://lucida.to/buttons/88x31.gif" width="88" height="31">
    </a>
</div>
